aiofiles           
aiogram           
aiohttp           
aiosignal         
annotated-types   
attrs              
beautifulsoup4     
bs4               
certifi            
charset-normalizer
environs           
frozenlist        
idna            
magic-filter       
marshmallow        
multidict         
packaging        
pip                
pydantic          
pydantic_core      
python-dotenv     
requests           
setuptools         
soupsieve        
typing_extensions  
urllib3            
yarl               